parameters:
	ignoreErrors:
		-
			message: "#^Access to protected property LinkScanner\\\\Utility\\\\LinkScanner\\:\\:\\$ResultScan\\.$#"
			count: 1
			path: src/Controller/Admin/LinkScannerController.php

		-
			message: "#^Access to protected property LinkScanner\\\\Utility\\\\LinkScanner\\:\\:\\$endTime\\.$#"
			count: 1
			path: src/Controller/Admin/LinkScannerController.php

		-
			message: "#^Access to protected property LinkScanner\\\\Utility\\\\LinkScanner\\:\\:\\$startTime\\.$#"
			count: 1
			path: src/Controller/Admin/LinkScannerController.php

